{% extends "homebase.html" %}
{% block title %}Home{% endblock %}

{% block body %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
</head>

<div align="center">
  <div class="grid-x grid-padding-x">
    <div class = "large-12 cell">
      <h2>Welcome!</h2>
      <form action="/settings">
        <button type="submit" class="warning button" name="settings-button">Account Settings</button>
      </form>
    </div>
  </div>



  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <div class="medium-2 cell"></div>
        <form action="/search">
    	    <label for="query"><h5>Search<h5></label>
    	    <input type="text" name="query" required>
    	    <button type="submit" class="primary button" name="search-button">Search</button>
      </form>

      <div class="grid-x grid-padding-x">
        <div class = "large-12 cell">
          {% if error %}
            <div class = "alert callout">
            <i>"Input not recognized as a country. Please try again"</i>
            </div>
          {% else %}
            <div class = "primary callout">
            Search a country
            </div>
          {% endif %}
        </div>
      </div>

    </div>
    <div class="medium-6 cell">
      <form action="/logout">
        <button type="submit" class="alert button" name="logout-button">Log Out</button>
  	  </form>
      <img src="{{ dog }}" width=300px height=300px>

    </div>
  </div>
</div>

{% endblock %}
