{% extends "homebase.html" %}
{% block title %}Home{% endblock %}

{% block body %}

<div align="center">
  <div class="grid-x grid-padding-x">
    <div class = "large-12 cell">
      <h2>Welcome!</h2>
      <form action="/settings">
        <button type="submit" class="warning button" name="settings-button">Account Settings</button>
      </form>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <div class="medium-2 cell"></div>
        <form action="/search">
    	    <label for="query"><h5>Search A Country</h5></label>
    	    <input type="text" name="query" required>
    	    <button type="submit" class="primary button" name="search-button">Search</button>

    	  </form>

    </div>
    <div class="medium-6 cell">
      <form action="/logout">
        <button type="submit" class="alert button" name="logout-button">Log Out</button>
  	  </form>
      <img src="{{ dog }}" width=300px height=300px>

    </div>
  </div>
</div>

{% endblock %}
