{% extends "homebase.html" %}
{% block title %}SearchedTopics{% endblock %}

{% block body %}

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
</head>

      <h1> {{country}} </h1>
      <div class="large-12 cell">
        <div class="callout" name="Search Results">
          Choose a category:
          <br>
          <a href= "/search/business">Business</a>
          <br>
          <a href= "/search/entertainment">Entertainment</a>
          <br>
          <a href= "/search/general">General</a>
          <br>
          <a href= "/search/health">Health</a>
          <br>
          <a href= "/search/science">Science</a>
          <br>
          <a href= "/search/sports">Sports</a>
          <br>
          <a href= "/search/technology">Technology</a>
    </div>
  </div>

</body>



{% endblock %}
